In [22]:
import pandas as pd
import re

In [ ]:
my_filepath = "./data/datathon2023_1/pred_AudienciasAsturias.xlsx"
my_data = pd.read_excel(my_filepath, index_col='Fechas')

In [17]:
my_data.head()

,Unnamed: 0,MAud_TTV_4plus,Cuota_TTV_4plus,AM_TTV_4plus,MAA_TTV_4plus,MAud_La1_4plus,Cuota_La1_4plus,AM_La1_4plus,MAA_La1_4plus,MAud_La2_4plus,...,AM_T5_65plus,MAA_T5_65plus,MAud_Sexta_65plus,Cuota_Sexta_65plus,AM_Sexta_65plus,MAA_Sexta_65plus,MAud_TPA_65plus,Cuota_TPA_65plus,AM_TPA_65plus,MAA_TPA_65plus
Fechas,,,,,,,,,,,,,,,,,,,,,
2021-01-01,367,314.199132,100,216.448255,713.184330,43.241930,13.762587,29.788880,474.786400,11.003928,...,8.635361,129.407521,13.248677,3.353554,2.437988,110.958810,51.688607,13.083610,9.511606,135.593761
2021-01-02,368,251.052030,100,172.947650,712.983201,21.800068,8.683486,15.017885,333.620461,6.748446,...,12.466821,118.499660,15.180268,4.605338,2.793469,88.627490,44.649534,13.545625,8.216396,118.330800
2021-01-03,369,285.155361,100,196.440777,707.638598,30.602084,10.731723,21.081480,398.233909,10.283538,...,10.595912,125.733249,10.558934,2.860100,1.943046,96.754769,48.152976,13.043205,8.861070,131.313359
2021-01-04,370,263.280935,100,181.370528,698.234630,25.268668,9.597607,17.407230,345.835779,9.236051,...,13.242719,123.171739,26.636063,6.493261,4.901539,112.811360,51.839354,12.637244,9.539421,147.515790
2021-01-05,371,262.660902,100,180.943953,723.033132,30.034901,11.434858,20.690684,344.419732,7.347026,...,12.005312,116.162361,41.396312,10.679245,7.617716,129.779541,42.251314,10.899814,7.775053,141.558281

In [18]:
my_data.columns

Index(['Unnamed: 0', 'MAud_TTV_4plus', 'Cuota_TTV_4plus', 'AM_TTV_4plus',
       'MAA_TTV_4plus', 'MAud_La1_4plus', 'Cuota_La1_4plus', 'AM_La1_4plus',
       'MAA_La1_4plus', 'MAud_La2_4plus',
       ...
       'AM_T5_65plus', 'MAA_T5_65plus', 'MAud_Sexta_65plus',
       'Cuota_Sexta_65plus', 'AM_Sexta_65plus', 'MAA_Sexta_65plus',
       'MAud_TPA_65plus', 'Cuota_TPA_65plus', 'AM_TPA_65plus',
       'MAA_TPA_65plus'],
      dtype='object', length=321)

In [ ]:
my_data

In [23]:
# TTV es la audiencia total
la_1 = my_data.filter(regex=re.compile('la1', flags=re.IGNORECASE)).columns

my_data[la_1]

,MAud_La1_4plus,Cuota_La1_4plus,AM_La1_4plus,MAA_La1_4plus,MAud_La1_HOM,Cuota_La1_HOM,AM_La1_HOM,MAA_La1_HOM,MAud_La1_MUJ,Cuota_La1_MUJ,...,AM_La1_45a54,MAA_La1_45a54,MAud_La1_55a64,Cuota_La1_55a64,AM_La1_55a64,MAA_La1_55a64,MAud_La1_65plus,Cuota_La1_65plus,AM_La1_65plus,MAA_La1_65plus
Fechas,,,,,,,,,,,,,,,,,,,,,
2021-01-01,43.241930,13.762587,29.788880,474.786400,43.601866,13.918802,14.322049,233.999369,42.913894,13.621030,...,3.828047,77.828459,63.496801,15.730159,7.143204,82.398250,55.972626,14.167996,10.299941,156.760660
2021-01-02,21.800068,8.683486,15.017885,333.620461,22.895555,9.219244,7.520626,159.417781,20.801666,8.205173,...,2.237889,56.394280,29.876730,8.933391,3.361064,67.623920,39.315700,11.927464,7.234865,136.328381
2021-01-03,30.602084,10.731723,21.081480,398.233909,29.518779,10.186991,9.696170,191.511810,31.589383,11.243763,...,3.997219,81.708189,40.936230,11.157424,4.605224,70.841930,45.666347,12.369652,8.403482,142.927269
2021-01-04,25.268668,9.597607,17.407230,345.835779,26.009615,10.286350,8.543482,167.221789,24.593381,9.015751,...,2.890924,58.271330,24.236184,7.573476,2.726494,72.261980,49.605044,12.092571,9.128266,145.333440
2021-01-05,30.034901,11.434858,20.690684,344.419732,30.336040,11.766085,9.964617,170.230271,29.760449,11.143429,...,2.160921,46.892670,32.517780,10.305914,3.658143,63.433160,57.198540,14.755836,10.525629,142.469081
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-04,13.741254,7.155781,9.370753,196.767241,13.039349,7.228650,4.246850,89.184290,14.382960,7.096489,...,0.875020,31.201260,8.885436,3.772943,0.999591,46.173090,31.878355,10.020144,6.043383,94.817690
2022-10-05,14.194680,7.671589,9.680002,220.828150,14.039500,8.410945,4.572583,109.005220,14.336548,7.111892,...,0.660015,19.717640,14.820155,6.166542,1.667240,47.370450,31.617797,10.188067,5.994065,107.478540
2022-10-06,18.810141,9.700438,12.827410,257.376341,15.259150,8.610089,4.969800,121.849651,22.056568,10.545045,...,1.640490,42.864570,21.458220,8.425430,2.413995,51.326170,36.834998,12.015921,6.983061,115.823071
2022-10-07,13.586844,7.405065,9.265448,231.006381,12.979912,7.799997,4.227460,122.938200,14.141715,7.103273,...,0.928724,39.808960,19.327330,7.643480,2.174280,55.624760,27.105532,9.791808,5.138593,100.973110
2022-10-08,14.965797,7.650261,10.205890,243.878309,12.388098,7.072553,4.034768,116.272400,17.322423,8.081879,...,1.619977,40.266940,17.548660,6.969650,1.974194,52.841249,28.129446,9.445969,5.332772,94.746740

In [36]:
hombres = my_data.filter(regex=re.compile('HOM', flags=re.IGNORECASE)).columns
mujeres = my_data.filter(regex=re.compile('MUJ', flags=re.IGNORECASE)).columns

my_data[my_data[hombres].filter(regex=re.compile('AM_', flags=re.IGNORECASE)).columns].head()

,AM_TTV_HOM,AM_La1_HOM,AM_La2_HOM,AM_A3_HOM,AM_Cuatro_HOM,AM_T5_HOM,AM_Sexta_HOM,AM_TPA_HOM
Fechas,,,,,,,,
2021-01-01,102.897137,14.322049,4.054672,9.593060,5.197724,5.072063,4.189886,7.413404
2021-01-02,81.575307,7.520626,2.438657,7.056868,5.099880,6.263664,4.002971,7.261777
2021-01-03,95.181879,9.696170,3.262938,7.160956,4.819166,5.854376,4.426775,7.572247
2021-01-04,83.056499,8.543482,3.455382,9.248067,3.835813,8.484798,5.503414,8.547688
2021-01-05,84.689317,9.964617,2.070491,8.734989,4.879970,7.041950,6.460209,7.935529

In [37]:
my_data[my_data[mujeres].filter(regex=re.compile('AM_', flags=re.IGNORECASE)).columns].head()

,AM_TTV_MUJ,AM_La1_MUJ,AM_La2_MUJ,AM_A3_MUJ,AM_Cuatro_MUJ,AM_T5_MUJ,AM_Sexta_MUJ,AM_TPA_MUJ
Fechas,,,,,,,,
2021-01-01,113.551119,15.466831,3.525810,12.248411,5.385407,11.936920,4.392483,7.272975
2021-01-02,91.372343,7.497259,2.210292,10.402832,4.704152,18.327240,4.194218,6.314042
2021-01-03,101.258898,11.385311,3.821292,9.130501,7.321271,16.482314,2.833825,6.453341
2021-01-04,98.314029,8.863748,2.907203,13.210918,4.927576,22.431421,5.393389,6.929928
2021-01-05,96.254636,10.726067,2.990787,11.086120,4.353228,17.743609,8.975595,5.833014